@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

nav img{
    width: 5vw;
    
    }

.navbar{
    display: flex;
    flex-direction: row;
    font-size: 16px; /*Tamaño de la fuente del texto*/
    font-weight: 700;
    margin-bottom: 30px;} /*Establece un margen inferior de 30 pixeles*/

.navbar-left{
    display: flex;
    flex-direction: row;
    margin-right: 30vw;/*Margen derecho viewport width*/
    align-items: center;
    }
    .navbar-left ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar-left a{color: black;
            text-decoration: none;
            margin: 8px;
        }
    
    .navbar-left a:hover{
        color: #2c6657;/*Cambia el color del texto de un enlace cuando se pasa el cursor sobre él*/
    }
    
    .navbar-right ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.texto-link{
    color: #000000;
}
.texto-link:hover{
color: gray;
}
    .navbar-right a{color: #000000;
    text-decoration: none;
    margin: 8px;}

.navbar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
     }
    
input{display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px 20px; /*Tamaño del botón*/
    border-radius: 20px; /*Forma de las esquinas del botón*/
    text-decoration: none;
    flex-direction: row;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer; /*Cursor que se muestra cuando se pasa sobre el botón*/
    }
.input-black {background-color: #000000; /*Fondo oscuro*/
    color: #FFFFFF;  /*Letras blancas*/

}
.input-black:hover{
    background-color: #333;
}
.input-white{
    background-color: white; /*Color de fondo del botón*/
    color: black; /*Color de texto del botón*/
}
.input-white:hover{
    color: gray;
}
.container-verde-1{background-color: #1e3932;
    width: 80vw;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    }
.container-verde-1 img{
    width: 40vw;
    height: auto;
    vertical-align: middle;
}
   p{text-align: center;
    color: white;
    padding: 5%;
    font-size: 19px;
}
.Texto2{text-align: center;
    color: white;
    padding: 2%;
    font-size: 19px;
}
    
    h1{font-weight: 700;
    font-style: bold;
    text-align: center;}

    .container-azul{background-color: #0044b4;
        width: 80vw;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row-reverse;
        color: white;
        justify-content: center;
        align-items: center;

    }
    .container-azul img{
        width: 40vw;
        height: auto;
        
    }

    .container-rojo{background-color: #d50032;;
        width: 80vw;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
    }
    .container-rojo img{
        width: 40vw;
        height: auto;
        
    }

    .container-verde-2{background-color: #1e3932;
        width: 80vw;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row-reverse;
        color: white;
        justify-content: center;
        align-items: center;
    }
    .container-verde-2 img{
        width: 40vw;
        height: auto;
    }

    .container-cereza{background-color: #d50032;
        width: 80vw;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        
    }
    .container-cereza img{
        width: 40vw;
        height: auto;
    }

    .Vertical-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        place-items: center;
        margin-bottom: 30px;
    }
    .container-vertical-pink{background-color: #f4acce;
    width: 38vw;
    height: auto;
    margin-right: 25px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
    flex-direction: column;
    
    
}
.container-vertical-pink img{
    width: 100%;
    height: auto;
   
}
.container-vertical-pink--Text p{
    color:#dc3545;
    text-align: center;
    font-size: 19px;
    padding: 2%;
}
.container-vertical-pink button{
    background-color: transparent;
    color:#dc3545;
    padding: 10px 15px;
    border: 1px solid #dc3545;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 200px;
    margin-bottom: 20px;
    font-weight: 700;

}
.container-vertical-blue{background-color: #81b7f1;;
width: 38vw;
height: auto;
grid-column: 2/2;
grid-row: 1/2;
align-items: center;
flex-direction: column;
margin-left: 15px;

}
.container-vertical-blue img{
width: 100%;
height: auto;
box-sizing: border-box;


}

.container-vertical-blue--Text p{
color: #6c757d;
text-align: center;
font-size: 19px;
padding: 2%;
}
.container-vertical-blue button{
    background-color: transparent;
    color: #6c757d;
    padding: 10px 15px;
    border: 1px solid  #6c757d;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 200px;
    margin-bottom: 20px;
    font-weight: 700;

}
.footer-links-menu{
    display: flex;
    flex-direction: column;
    
}
.footer-links-menu2{
    display: flex;
    flex-direction: column;
}
.footer-links-menu ul{
margin-right: 50px;
list-style: none;


}
.footer-links-menu a{
    text-align: justify;
    
    

}
.footer-links-menu2 a{
    text-align: justify;
    margin-right: 580px;

}
.footer-links-menu2 ul{
    list-style: none;
    
    
}

.sociaal-links{
    display: flex;
    margin-top: 50px;
    margin-left: 370px;
    }
.sociaal-links a{
    color: #000000;
    transition: color 0.2s;
    margin:15px; /*Margen entre iconos */
    text-align: center; /*Centra los iconos horizontalmente*/
    font-size: 25px; /*Aumenta el tamaño de los iconos */
    
}
.sociaal-links a:hover{
    color: #13131383;
}
.footer p{
    text-align: justify;
    color: #000000;
    font-size: 15px;
    margin-top: 30px;
}
.footer-links-menu h2{
    color: #000000; 
    text-align:center;
    margin: 25px;
    font-size: 22px;
    
  
}
.footer-links-menu2 h2{
    color: #000000; 
    margin: 25px;
    font-size: 22px;
}
.footer-row{
display: flex;
flex-wrap: wrap;
}

.footer-row a{
color: #000000;
text-decoration: none;
}
.footer-links-barra-inferior ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu-barra a{
    color: gray;
    text-align: center;
    text-decoration: none;
    margin-right: 30px;
    }
.menu-barra a:hover{
color: #000000;
}