@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

nav img{
    width: 5vw;
    
    }

.navbar{
    display: flex;
    flex-direction: row;
    font-size: 16px; /*Tamaño de la fuente del texto*/
    font-weight: 700;
    margin-bottom: 15px; /*Establece un margen inferior de 30 pixeles*/
    width: 80vw;
} 

.navbar-left{
    display: flex;
    flex-direction: row;
    margin-right: 30vw;/*Margen derecho viewport width*/
    align-items: center;
    }
    .navbar-left ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar-left a{
           color: black;
            text-decoration: none;
            margin: 8px;
        }
    
    .navbar-left a:hover{
        color: #2c6657;/*Cambia el color del texto de un enlace cuando se pasa el cursor sobre él*/
    }
    
    .navbar-right ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    }
.navbar-right i{
    padding-right: 5px; 
    font-size: 20px; /*Aumenta el tamaño de fuente del icono a 20px*/
}

.texto-link{
    color: #000000;
    
}
.texto-link:hover{
color: gray;
}
.navbar-right a{color: #000000;
    text-decoration: none;
    margin: 5px;}

.navbar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
     }
    
input{display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px 20px; /*Tamaño del botón*/
    border-radius: 20px; /*Forma de las esquinas del botón*/
    text-decoration: none;
    flex-direction: row;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer; /*Cursor que se muestra cuando se pasa sobre el botón*/
    }
.input-black {background-color: #000000; /*Fondo oscuro*/
    color: #FFFFFF;  /*Letras blancas*/

}
.input-black:hover{
    background-color: #333;
}
.input-white{
    background-color: white; /*Color de fondo del botón*/
    color: black; /*Color de texto del botón*/
}
.input-white:hover{
    color: gray;
}
.containers{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    padding: 0;  
    margin: 0;
}
.container-verde-1{background-color: #1e3932;
    width: 80vw;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    }
.container-verde-1 img{
    width: 40vw;
    height: auto;
    vertical-align: middle;
}
   p{text-align: center;
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    font-size: 19px;
}
.Texto2{text-align: center;
    color: white;
    padding-left: 30px;
    font-size: 19px;
    padding-top: 0;
}
    
    h1{font-weight: 700;
    font-style: bold;
    text-align: center;
    padding: 8px;
    font-size: 25px;
}

    .container-azul{background-color: #0044b4;
        width: 80vw;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row-reverse;
        color: white;
        justify-content: center;
        align-items: center;

    }
    .container-azul img{
        width: 40vw;
        height: auto;
        
    }

    .container-rojo{background-color: #d50032;;
        width: 80vw;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
    }
    .container-rojo img{
        width: 40vw;
        height: auto;
        
    }

    .container-verde-2{background-color: #1e3932;
        width: 80vw;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row-reverse;
        color: white;
        justify-content: center;
        align-items: center;
    }
    .container-verde-2 img{
        width: 40vw;
        height: auto;
    }

    .container-cereza{background-color: #d50032;
        width: 80vw;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        
    }
    .container-cereza img{
        width: 40vw;
        height: auto;
    }

    .Vertical-container{
        width: 80vw;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        margin-bottom: 30px;}

    .container-vertical-pink{
    background-color: #f4acce;
    display: inline-block;
    width: 40vw;
    height: auto;
    margin-right: 20px;
    align-items: center;
    position: relative;   
}
.container-vertical-pink img{
    width: 100%;
    height: auto;   
}
.container-vertical-pink--Text p{
    position: absolute;
    bottom: 60px;
    left: 20px;
    right: 20px;
    text-align: center;
    line-height:1.5;
    
    color:#dc3545;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    
}
.container-vertical-pink button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    background-color: transparent;
    color:#dc3545;
    padding: 10px 15px;
    border: 1px solid #dc3545;
    border-radius: 20px;
    cursor: pointer; /*Cambia el cursor a una mano cuando se pasa sobre el botón*/
    font-weight: 700;
}
.container-vertical-blue{
background-color: #81b7f1;
width: 40vw;
height: auto;
position: relative; 
display: inline-block;
align-items: center;
margin-left: 25px;

}
.container-vertical-blue img{
width: 100%;
height: auto;
box-sizing: border-box;
}

.container-vertical-blue--Text p{
position: absolute;
bottom: 60px;
left: 20px;
right: 20px;
text-align: center;
font-weight: 500;
line-height:1.5;


color: #6c757d;
font-size: 19px;

}
.container-vertical-blue button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    background-color: transparent;
    color: #6c757d;
    padding: 10px 15px;
    border: 1px solid  #6c757d;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}

.footer-links-barra-inferior{

    position: fixed;
    background-color: white;
    bottom: 0;
    margin: 0 auto;
    width: 100%; 
    height: auto;  
}

.footer{

    width: 100%;
    height: auto;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25vh;
}
.footer-row{

    display: flex;
    flex-wrap: nowrap;
    word-wrap: break-word;
    text-align: justify;  
    background-color: white;
    width: 100%;
    height: auto;
    margin-left: 5vw; 
    }
.footer-links ul{
list-style: none;

}
.footer-links-menu2 ul{
list-style: none;   
    
}
.footer-links li, .footer-links-menu2 li{
    margin-bottom: 5px;
}

.footer-row h2{
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;

    font-weight: 500;
    font-size: 20px;

    margin-bottom: 10px;
    margin-left: 15%;
    padding: 10px;
    background-color: white;
    

}
.footer-links, .footer-links-menu2{
    width: 22%;
    height: auto;
    margin: 0;
    background-color: white;
}
.footer-links a, .footer-links-menu2 a{
    text-decoration: none;
    color: black;
    padding: 0;
   
}
.sociaal-links{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    
}
.sociaal-links a{

    color: #000000;
    transition: color 0.2s;
    margin: 13px; /*Margen entre iconos */
    text-align: center; /*Centra los iconos horizontalmente*/
    font-size: 20px; /*Aumenta el tamaño de los iconos */   
}

.sociaal-links a:hover{
    color: #13131383;
}
.footer p{

    text-align: center;
    color: #000000;
    font-size: 15px;
    white-space: nowrap;
    
}
.footer-links-barra-inferior ul{
display: flex;
flex-direction: row;
list-style-type: none;
text-align: center;
justify-content: center;

padding: 0;
margin-bottom: 0;
margin-top: 0;
}

.menu-barra a{

    color: gray;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
   
    }
.menu-barra a:hover{
color: #000000;
}
.Derechos-reservados p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    color: gray;
    font-size: 13px;
}

/*Diseño responsivo*/
@media (max-width: 775px) {
    .navbar {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .navbar-left, .navbar-right {
        margin-right: 0;
        margin-left: 0;
        justify-content: center;
    }
    .container-verde-1, 
    .container-azul, 
    .container-rojo, 
    .container-verde-2, 
    .container-cereza {
        display: flex;
        flex-direction: column;
    }
    .container-verde-1 img, 
    .container-azul img, 
    .container-rojo img, 
    .container-verde-2 img, 
    .container-cereza img {
        width: 80vw;
    }

    .Vertical-container {
        flex-direction: column;
        height: 500px;
        margin-top: 30px;
    }
    .container-vertical-pink, .container-vertical-blue {
        width: 80vw;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        margin-top: 30px;
    }
    .footer-row {
        flex-direction: column;
        align-items: center;
    }

    .footer-links, .footer-links-menu2 {
        width: 100%;
        margin-bottom: 5px;
    }

    .sociaal-links {
        flex-direction: row;
        align-items: center;

    }
}