@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display: flex;
    flex-direction: column;

    font-size: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    overflow-x: hidden;
}

nav img{
    width: 5vw;
    
    }
header{
    position: fixed;
    top: 0;
    background: white;
    z-index: 10;
}
.navbar{
    display: flex;
    flex-direction: row;
    font-size: 16px; /*Tamaño de la fuente del texto*/
    font-weight: 700;
    margin-bottom: 30px; /*Establece un margen inferior de 30 pixeles*/
} 

.navbar-left{
    display: flex;
    flex-direction: row;
    margin-right: 45vw;/*Margen derecho viewport width*/
    align-items: center;
    }
    .navbar-left ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar-left a{color: black;
            text-decoration: none;
            margin: 8px;
        }
    
    .navbar-left a:hover{
        color: #2c6657;/*Cambia el color del texto de un enlace cuando se pasa el cursor sobre él*/
    }
    
    .navbar-right ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    }
.navbar-right i{
    padding-right: 5px; 
    font-size: 20px; /*Aumenta el tamaño de fuente del icono a 20px*/
}

.texto-link{
    color: #000000;
    
}
.texto-link:hover{
color: gray;
}
    .navbar-right a{color: #000000;
    text-decoration: none;
    margin: 8px;}

.navbar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
     }
    
input{display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px 20px; /*Tamaño del botón*/
    border-radius: 20px; /*Forma de las esquinas del botón*/
    text-decoration: none;
    flex-direction: row;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer; /*Cursor que se muestra cuando se pasa sobre el botón*/
    }
.input-black {background-color: #000000; /*Fondo oscuro*/
    color: #FFFFFF;  /*Letras blancas*/

}
.input-black:hover{
    background-color: #333;
}
.input-white{
    background-color: white; /*Color de fondo del botón*/
    color: black; /*Color de texto del botón*/
}
.input-white:hover{
    color: gray;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 90px;

    max-width: 100%;
    height: calc(100vh -50px);
}
.left-container {
    
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10,105,75) 100%);
    flex: 1;
    position: fixed;
    top: 0;

    width: 35vw;
    height: auto;

    margin: 0 auto;
    padding: 35px;

    text-align: center;

     }
.left-container--text h1{
    font-weight: 400;
    color: white;
    font-size: 35px;
    padding-bottom: 30px;
    padding-top: 10px;
    margin: 0 auto;
}
.left-container img{
    width: 70%;
    height: 50vh;
    display: block;
    margin: 0 auto;
    border-bottom: 0;
    margin-bottom: -25px;
    padding-top: 0;
    margin-top: 30px;
          
}
.left-container--text button {
    display: inline-block;
    padding: 9px;
    border: 1px solid white;
    border-radius: 20px; /*Forma de las esquinas del botón*/
    text-decoration: none;
    font-weight: 700;
    cursor: pointer; /*Cursor que se muestra cuando se pasa sobre el botón*/
    margin-right: 30px;
    
}
.left-container--text img{
    width: 50%;
    height: auto;  
    border-top: 0;
    padding-top: 0;
    padding-bottom: 50px;
    margin-top: -25px;
    margin-bottom: 50px;
    margin-left: 30%;
    display: inline-block;

}
.right-container {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 42vw;

width: calc(100vw - 25vw); /*Ocupa el espacio restante*/
overflow-y: auto; /*Habilita el scroll vertical*/
background-color: white;
}
.right-container h1 {
    width: 40vw;
    height: auto;

    text-align: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;

    margin-right: 25%;
    margin-left: 0;
    margin-top: 60px;

    font-weight: 500;
    line-height: 1.2;
    letter-spacing: normal;
    background-color: white;
    
    
    
}
.right-container-element{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin-right: 27%;

    width: 50vw;
    height: auto;
    
    background-color: white;
    }

.right-container img{
    width: 100px;
    height: 90px;  
    display: block;
    margin: 0 auto;
    padding: 0;
    
}
.right-container p{
 
    margin: 10px 0;
    font-size: 15px;  /* Ajuste del tamaño de la fuente */
    font-weight: 400;

    text-align: center;  /* Centra el texto */
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 15px;
    
}
.right-container-element-2--text{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin-right: 27%;

    width: 50vw;
    height: auto;
    
}
.right-container-element-2--text h1{
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    padding: 20px;
   
}
.right-container-element-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin-right: 27%;

    width: 50vw;
    height: auto;
    
    background-color: white;     
}
.right-container-element-3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin-right: 27%;

    width: 50vw;
    height: auto;
    
    background-color: white;
}
.right-container-element-4{
    display: block;
    align-items: center;

    padding: 0;
    margin-right: 27%;

    width: 50vw;
    height: auto;
    background-color: rgb(241, 240, 235);

}
.right-container-element-4 h1{
    height: auto;
    width: 30vw;
    background: rgb(241, 240, 235);

    font-weight: 700;
    color: #212529;
    font-size: 25px;

    text-align: center;
    margin: 0 auto;
    padding: 30px;
    

}
.right-container-element-4 p{
    
    width: 20vw;
    height: auto;
    font-weight: 700;

    letter-spacing: 0.5px;
    color: #212529;  
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 10px;
    
}
.right-container-element-4 img{

    width: 300px;
    height: 40px;  
    margin-top: 20px;  
    margin-bottom: 15px;

}
.right-container--video{

    display: block;
    align-items: center;
    margin-right: 27%;
    margin-top: 30px;
    height: auto;
    width: 50vw;
    padding: 0;
    background-color: white;
    
}
.video-container iframe{
    width: 50vw;
   
    
}
.right-container-element-5{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    text-align: justify;
    padding: 0;

    margin-right: 27%;
    background-color: white;

    width: 50vw;
    height: auto;
    
}
.right-container-element-5 h1{
    text-align: center;
    height: auto;
    width: 50vw;

    background-color: white;
    font-weight: 700;
    color: #212529;
    

    padding-top: 10px;
    margin-bottom: 0;
 
}
.right-container-element-5 h2{
    height: auto;
    width: 50vw;

    background: white;
    font-weight: 400;
    color: black;
    text-align: center;  
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 0;

}

.right-container-element-5 img{
   display: flex;
   flex-direction: column;
   width: 120px;
   height: 130px; 
   margin-left: 0;
   margin-right: 0;
    
}
.right-container-element-5 p{
    max-width: 30%;   
    padding: 0;
    
}
.right-container-element-5--app{
    display: flex;
    flex-direction: row;
}
.right-container-element-5--gif{
    display: flex;
    flex-direction: row;
}
.right-container-element-5--gif img{
    width: 20vw;
    height: auto; 
    margin-left: 40px;
    margin-right: 0;  
}
.right-container-element-5--card {
    display: flex;
    flex-direction: row;  
}
.right-container-element-6 {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 240, 235);

    width: 50vw;
    height: auto;
    margin-right: 27%; 
    padding-bottom: 40px;  
}
.right-container-element-6 img{

    width: 5vw;
    height: 20vh;
    padding: 0;
    margin-top: 40px;
    margin-left: 10px;
    
}
.right-container-element-6--text{
    display: flex;
    flex-wrap: wrap;
   
    
}
.right-container-element-6--text p{
    
    text-align: left;
    width: 7vw;
    font-weight: 700;
    margin-right: 13px;

}
.right-container-element-6--text---estrella img{

    width: 4vw;
    height: auto;
    padding: auto;

}
.right-container-element-6 h1,h2{
    display: block;
    background-color: rgb(241, 240, 235);
    
    width: 35vw;  
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    padding: 0;
    font-size: 20px;
    font-weight: 700;
    
}
.right-container-element-6--text---2 h2{
    
    background-color: rgb(241, 240, 235);
    width: 35vw;  
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    
}
.right-container-element-6--text---3 p{
    width: 35vw; 
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-top: 0;
}
.right-container-element-6--gif img{

    width: 30vw;
    height: 40vh;

    margin: 0 auto; 
    
}
.right-container-element-7{

    display: block;
    align-items: center;

    padding: 0;
    margin-right: 27%;

    width: 50vw;
    height: auto;
    background-color: white;

}
.right-container-element-7 h1{
    text-align: center;
    height: auto;
    width: 40vw;

    background-color: white;
    font-size: 22px;
    font-weight: 700;
    color: #212529;
    margin: 0 auto;
}
.right-container-element-7 p{
    text-align: center;
    height: auto;
    width: 40vw;
    margin: 0 auto;
    padding: 30px;
}
.right-container-element-7 img{
    width: 15vw;
    height: auto;  
}
.right-container-element-7 h3{
    text-align: center;
    width: 40vw;
    margin: 0 auto;
    padding: 10px;
}
.imagen--container-element-7{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recompensas img{ 
    width: 17vw;
    height: auto;
    padding: 15px;
    
}

.right-container-element-8 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    
    width: 50vw;
    height: auto;
    margin-right: 27%; 

    background-color: rgb(241, 240, 235);
    margin-top: 40px;

}
.right-container-element-8 h2{

    
    width: 9vw;
    background: rgb(241, 240, 235);
    font-weight: 700;
    color: #212529;
    text-align: left;
    padding: 5px;
    
}
.right-container-element-8 p{

    
    display: flex;
    flex-direction: column;
    text-align: left; 

    width: 10vw; 
    height: auto;

    font-weight:  400;
    letter-spacing: 1px;
    color: black;
    background-color:  rgb(241, 240, 235);
    padding-bottom: 10px;
   

    
}
.right-container-element-8 img{

    width: 30vw;
    height: 35vh;
    margin:0 auto;
    padding-top: 70px;
    padding-bottom: 50px;
    
    
}
.right-container-element-8--text{

    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
}
.right-container-element-9{
    display: block;
    align-items: center;

    padding-top: 40px;
    margin-top: 0;
    margin-right: 27%;

    width: 50vw;
    height: auto;
    background-color: white;
    
}
.right-container-element-9 img{
    width: 50vw;
    height: 50vh;
    filter:saturate(170%);
}

.footer-links-barra-inferior{
    position: fixed;
    background-color: white;
    bottom: 0;
    text-align: center;
    margin-right: 27%;
    width:50vw;
    height: 25vh;
    padding: 0;   
}
.footer{
    width: 50vw;
    height: auto;
    margin-right: 27%;
    
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.footer-row{

    display: flex;
    flex-wrap: nowrap;
    word-wrap: break-word;
    text-align: justify;  
    background-color: white;
    width: 50vw;
    height: 60vh;
    padding: 20px;
    
    }
.footer-links ul{
list-style: none;

}
.footer-links-menu2 ul{
    list-style: none;
    
    
}
.footer-links li, .footer-links-menu2 li{
    margin-bottom: 5px;
}

.footer-row h2{
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 33px;
    background-color: white;

}
.footer-links, .footer-links-menu2{
    width: 35%;
    margin: 0;
}
.footer-links a, .footer-links-menu2 a{
    text-decoration: none;
    color: black;
    padding: 0;
}
.sociaal-links{
    display: flex;
    justify-content: center;
    padding: 0;
}
.sociaal-links a{
    color: #000000;
    transition: color 0.2s;
    margin: 13px; /*Margen entre iconos */
    text-align: center; /*Centra los iconos horizontalmente*/
    font-size: 20px; /*Aumenta el tamaño de los iconos */   
}

.sociaal-links a:hover{
    color: #13131383;
}
.footer p{

    text-align: center;
    color: #000000;
    font-size: 15px;
    white-space: nowrap;
    
}
.footer-links-barra-inferior ul{
display: flex;
flex-direction: row;
list-style-type: none;
text-align: center;
justify-content: space-around;
margin-top: 5px;
margin-bottom: 5px;
padding: 0;}

.menu-barra a{

    color: gray;
    text-align: center;
    margin-right: 20px;
    list-style: none;
    text-decoration: none;}
.menu-barra a:hover{
color: #000000;}

.Derechos-reservados p{
    text-align: center;
    padding: 1px;
    color: gray;
    font-size: 13px;
}


